# operating system and editor leftovers
.DS_Store
Thumbs.db
*~

*.log
npm-debug.log*

node_modules/
.npm-cache
.eslintcache

# coverage output
coverage
*.lcov
.nyc_output

# output of npm pack
*.tgz

.env
